<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Чат SimbirSoft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <div style="margin-top: 10px; margin-right: 7px;">
                            <span style="color:white">Чат SimbirSoft</span>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">Главная страница <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Chat">Чат</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a style="float:right" class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item" style="">
                            <a class="btn btn-outline-dark" style="color:white" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>