@{
    Layout = "_Layout";
}

<table class="table table-sm" style="position: relative; top:+70px; width: 90%">
    <thead>
        <tr>
            <th scope="col">Название комнаты</th>
            <th scope="col">Количество сообщений в комнате</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var room in ViewBag.rooms)
            {
                <tr>
                    <td>@room.RoomName</td>
                    <td>@room.CountMessage</td>
                </tr>
            }
        }
    </tbody>
</table>