@model IEnumerable<NewApplicationChatSS.ViewModels.RegisterViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
        </tr>
    }

</table>
@*@model IEnumerable<NewAppChatSS.DAL.Entities.User>*@