@model NewApplicationChatSS.ViewModels.LoginViewModel
<head>
    <link rel="stylesheet" type="text/css" href="~/css/LoginPage.css"/>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div style="color: white" asp-validation-summary="All"></div>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { @class = "form", @id = "login-form" }))
                        {
                            <h3 class="text-center text-info">Авторизация на сайте</h3>
                            <div class="form-group">
                                <label asp-for="Email" class="text-info">E-mail:</label><br>
                                <input type="text" asp-for="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="text-info">Пароль:</label><br>
                                <input type="password" asp-for="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="RememberMe" class="text-info"><span>Запомнить меня</span> 
                                    <span><input asp-for="RememberMe" id="remember-me" type="checkbox"></span>
                                </label><br>

                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Войти">
                            </div>
                            <div id="register-link" class="text-right">
                                <a asp-action="Register" asp-controller="Account" class="text-info">Регистрация</a><br><br>
                                <!--<a href="#" class="text-info">Забыли пароль?</a>-->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
