@model NewApplicationChatSS.ViewModels.RegisterViewModel

<head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 100px;
            max-width: 600px;
            height: 520px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>
</head>
<body>
    <br>
    <div id="login">
        <h3 class="text-center text-white pt-5">Регистрация нового пользователя</h3>
        <div class="container">
            <div style="color: white" asp-validation-summary="All"></div>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, htmlAttributes: new {@class="form", @id="login-form" }))
                            {
                                <h3 class="text-center text-info">Регистрация</h3>
                                <div class="form-group">
                                    <label asp-for="Login" class="text-info">Логин:</label><br>
                                    <input type="text" asp-for="Login" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="text-info">E-Mail:</label><br>
                                    <input type="text" asp-for="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="text-info">Пароль:</label><br>
                                    <input type="password" asp-for="Password" class="form-control">
                                    <label asp-for="PasswordConfirm" class="text-info">Пароль:</label><br>
                                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Отправить">
                                    <input asp-for="RoleId" type="hidden" value="1" />
                                    <input asp-for="Loked" type="hidden" value="false" />
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
